<div *ngIf="gigData" class="expanded-popup">
  <div class="my-row white-header">
    <button class="close-button" (click)="closeWindow()">X</button>
    <div class="wrapper-img">
      <img src="{{gigData.author.avatar_url}}" />
    </div>
    <div class="my-col full-width" style="padding: 10px; justify-content: space-between;">
      <div class="g-title title2 whiteBG overflow-ellipsis">{{gigData.title}}</div>
      <div class="my-row" style="justify-content: space-between; align-items: center;">
        <div>
          <label class="g-title title3 whiteBG">{{gigData.projectName}}</label>
          <label class="g-title title3 whiteBG"> {{gigLevel[gigData.level]}}</label>
          <label class="g-title title3 whiteBG">
            <i class="fa fa-clock"></i> {{gigData.time_estimate}} h</label>
        </div>
        <div>
          <a target='_blank' title="create branch" href="">
            <i class="fa fa-code-branch g-title whiteBG"></i>
          </a>
          <a target='_blank' title="project on Gitlab" href="{{gigData.web_url}}">
            <i class="fab fa-gitlab g-title whiteBG"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="expanded-popup-details">
    <div class="my-row labels-row">
      <span *ngFor="let item of gigData.langs" class="g-chip programming">
        {{item}}</span>
    </div>
    <div class="my-row labels-row">
      <span *ngFor="let item of gigData.tags" class="g-chip knowledge">
        {{item}}</span>
    </div>
    <div class="my-row labels-row">
      <span *ngFor="let item of gigData.labels" class="g-chip other">
        {{item}}</span>
    </div>
    <div class="description-readme overflow-auto-scroll">
        <markdown [data]="gigData.description" ></markdown>
    </div>
    <div class="my-row bottom-row">
      <button class="g-button" [disabled] ="!gitlabUserId" (click)="openConfirmDialog()" *ngIf="!gigData.closed_at && gigData.assignees.length==0"> TAKE THIS GIG </button>
      <button class="g-button" [disabled] ="!gitlabUserId" (click)="leaveGig()" *ngIf="!gigData.closed_at && isCurrentUserAssignee"> LEAVE THIS GIG </button>
      <button class="g-button" [disabled]="true" *ngIf="gigData.closed_at"> Unavailable </button>
      <!-- <button class="g-title title3 whiteBG" mat-button (click)="openPeopleDialog($event)" style="margin-left: auto;" [disabled]="gigData.assignees.length==0">Already assigned</button> -->
      <ng-container *ngIf="gigData.assignees.length>0">
        <label class="g-title title3" style="margin-left: auto; margin-right: 20px">Already assigned </label>
        <img class="assignee-img" *ngFor="let item of gigData.assignees" title="{{item.name}}" src="{{item.avatar_url}}" />
      </ng-container>
    </div>

  </div>
</div>
