<div *ngIf="currentUser" class="wrapper">
  <div class="my-col user-profil" style="align-items: center;">
    <app-person-image-for-expanding [imgWidth]="100" [imgHeight]="100" imgBorder="0" [personName]="currentUser.name" [personId]="currentUser.gitlab_user_id"
      [personAvatarUrl]="currentUser.avatar_url"></app-person-image-for-expanding>
    <label class="profil-name">{{currentUser.name}}</label>
  </div>
  <div class="labels-container">
    <div class="my-row" style="justify-content: space-between;align-items: center;">
      <label class="g-title title3">My skills:</label>
      <div>
        <button class="editBtn" id="top" [disabled]="currentUser.auto_update" (click)="opAddSkillsLabels.toggle($event)" mat-button>
          <i class="fa fa-plus-circle" style="margin-right: 10px;"></i> Edit
        </button>
        <p-overlayPanel #opAddSkillsLabels for="chartBtn" my="left top" at="left bottom">
          <app-add-labels (cancel)="cancelSkillsSelection()" (done)="doneSkillsSelection($event)" [userLabels]="skillsLabels"></app-add-labels>
        </p-overlayPanel>
      </div>
    </div>
    <div class="my-row" style="flex-wrap: wrap;">
      <span *ngFor="let item of currentUser.skills_langs" class="g-chip programming">
        {{item}}</span>
    </div>
    <div class="my-row" style="flex-wrap: wrap;">
      <span *ngFor="let item of currentUser.skills_tags" class="g-chip knowledge">
        {{item}}</span>
    </div>
    <div class="my-row" style="justify-content: space-between;align-items: center;">
      <label class="g-title title3">Fields of interest:</label>
      <div>
        <button class="editBtn" id="bottom" [disabled]="currentUser.auto_update" (click)="opAddInterestLabels.toggle($event)" mat-button>
          <i class="fa fa-plus-circle" style="margin-right: 10px;"></i> Edit
        </button>
        <p-overlayPanel #opAddInterestLabels my="left top" at="left bottom">
          <app-add-labels (cancel)="cancelInterestSelection()" (done)="doneInterestSelection($event)" [userLabels]="interestLabels"></app-add-labels>
        </p-overlayPanel>
      </div>
    </div>
    <div class="my-row" style="flex-wrap: wrap;">
      <span *ngFor="let item of currentUser.wants_to_learn_langs" class="g-chip programming">
        {{item}}</span>
    </div>
    <div class="my-row" style="flex-wrap: wrap;">
      <span *ngFor="let item of currentUser.wants_to_learn_tags" class="g-chip knowledge">
        {{item}}</span>
    </div>
    <div style="margin:10px 0;" title='Auto update will determin your data according to your gitlab projects'>
      <mat-checkbox [checked]="currentUser.auto_update" (change)="autoUpdateChange($event)">Auto Update</mat-checkbox>
    </div>
  </div>
  <div class="gigs-container ">
    <div class="g-title title3">GIGS 4 U</div>
    <div class="gigs-wrapper overflow-auto-scroll">
      <button class="gig-item" *ngFor="let gig of currentUser.gigs; let i=index" (click)="openExpandedGigDetails(i)">
        <div class="g-title title3 overflow-ellipsis">{{gig.title}}</div>
        <div class="my-row">
          <span *ngFor="let item of gig.langs" class="g-chip programming">
            {{item}}</span>
        </div>
        <div class="my-row">
          <span *ngFor="let item of gig.tags" class="g-chip knowledge">
            {{item}}</span>
        </div>
        <div class="my-row">
          <span *ngFor="let item of gig.labels" class="g-chip other">
            {{item}}</span>
        </div>
      </button>
    </div>
  </div>
</div>
