<div *ngIf="gigData" [ngClass]="{'not-available' : !(!gigData.closed_at)}">
  <button class="my-row white-header" (click)="openDialog()">
    <div class="wrapper-img">
      <img src="{{gigData.author.avatar_url}}" />
    </div>
    <div class="my-col">
      <div class="g-title title2 whiteBG overflow-ellipsis" style="margin-bottom: 10px;">{{gigData.title}}</div>
      <div class="my-row">
        <label class="g-title title3 whiteBG">{{gigData.projectName}}</label>
        <label class="g-title title3 whiteBG"> {{gigLevel[gigData.level]}}</label>
        <label class="g-title title3 whiteBG">
          <i class="fa fa-clock"></i> {{gigData.time_estimate}} h</label>
      </div>
    </div>
  </button>
  <div class="details-container">
    <div class="my-row labels-row">
      <span *ngFor="let item of gigData.langs" class="g-chip programming">
        {{item}}</span>
    </div>
    <div class="my-row labels-row">
      <span *ngFor="let item of gigData.tags" class="g-chip knowledge">
        {{item}}</span>
    </div>
    <div class="my-row labels-row">
      <span *ngFor="let item of gigData.labels" class="g-chip other">
        {{item}}</span>
    </div>
    <div class="my-row bottom-row">
      <ng-container *ngIf="gigData.assignees.length>0">
        <label *ngIf="!gigData.closed_at" class="g-title title3" style="margin-left: auto; margin-right: 20px">Already assigned </label>
        <label *ngIf="gigData.closed_at" class="g-title title3" style="margin-left: auto; margin-right: 20px">Was done by </label>
        <img class="assignee-img" *ngFor="let item of gigData.assignees" title="{{item.name}}" src="{{item.avatar_url}}" />
      </ng-container>      
      <label *ngIf="gigData.closed_at &&gigData.assignees.length==0" class="g-title title3" style="margin-left: auto; margin-right: 20px">Closed</label>
      <label *ngIf="!gigData.closed_at &&gigData.assignees.length==0" class="g-title title3" style="margin-left: auto; margin-right: 20px">Available</label>
    </div>
  </div>
</div>
