.island-container.card {
  width: 115rem;
  max-width: 115rem;
  height: 78.5rem;
  left: 31%;
  min-height: 78.5rem;
  min-width: 115rem;
}

@media screen and (max-width: 1200px) {
  .island-container .island-img {
    z-index: 0;
    right: 80%;
  }
}

.island-container .island-img {
  width: 60%;
  right: 93%;
  top: 7rem;
  animation: float 5s infinite;
}

.island-container .score-tab ::ng-deep .mat-tab-body-content {
  overflow: hidden;
}

.island-container ::ng-deep .ui-datascroller,
.island-container ::ng-deep .ui-datascroller-inline .ui-datascroller-content {
  height: 100%;
}

.island-container ::ng-deep .ui-datascroller-inline .ui-datascroller-content::-webkit-scrollbar {
  display: none;
}

.text-container {
  background-image: url('../../../assets/images/backgrounds/about_BG_03.png');
  height: 50%;
  padding: 1rem 15rem;
}

.island-title {
  font-size: 6rem;
  font-weight: lighter;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.monsters-container {
  background-image: url('../../../assets/images/backgrounds/about_BG_05.png');
  align-items: center;
  justify-content: center;
  height: 50%;
  .monster-item {
    cursor: pointer;
    text-align: center;
    img {
      margin-bottom: 1rem;
      width: 16rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}

.monster-card .mat-dialog-container {
  padding: 0;
  overflow: hidden;
}
