<div class="my-row">
<mat-card fxFlex>
        <mat-card-header>
                <mat-card-title><h1>Add Challenge</h1></mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <form class="form-container my-col" #addForm="ngForm">

                        <div class="my-row" fxLayoutGap="2rem">
                                <mat-form-field fxFlex=85>
                                        <input matInput name="title" type="text" [(ngModel)]="newChallenge.title" placeholder="Title" required>
                                </mat-form-field>
                                <mat-form-field fxFlex>
                                        <input matInput name="score" type="number" [(ngModel)]="newChallenge.score" placeholder="Score" required>
                                </mat-form-field>
                        </div>
                        <div class="my-row" fxLayoutGap="2rem">
                                <mat-form-field fxFlex>
                                        <input matInput name="author" type="text" [(ngModel)]="newChallenge.author" placeholder="Author" required>
                                </mat-form-field>
                                <mat-form-field fxFlex=10>
                                        <input matInput name="year" type="number" [(ngModel)]="newChallenge.year" placeholder="Year" required>
                                </mat-form-field>
                                <mat-form-field fxFlex=10>
                                        <input matInput name="week" type="number" [(ngModel)]="newChallenge.week" placeholder="Week #" required>
                                </mat-form-field>
                        </div>

                        <mat-form-field>
                                <textarea matInput name="challenge" type="text" spellcheck="false" [(ngModel)]="newChallenge.challenge" placeholder="Challenge" matTextareaAutosize matAutosizeMinRows="3" required></textarea>
                        </mat-form-field>

                        <mat-form-field>
                                <textarea matInput name="info" type="text" spellcheck="false" [(ngModel)]="newChallenge.info" placeholder="Info" matTextareaAutosize matAutosizeMinRows="3" required></textarea>
                        </mat-form-field>
                        <mat-form-field>
                                <input matInput name="image" type="url" [(ngModel)]="newChallenge.image" placeholder="Image URL" required>
                                <mat-hint>Format: http://</mat-hint>
                        </mat-form-field>

                        <div class="my-row" fxLayoutGap="2rem">
                                <mat-form-field fxFlex=80><input matInput name="hint" type="text" [(ngModel)]="newChallenge.hint.text" placeholder="Hint" required></mat-form-field>
                                <mat-form-field fxFlex=20><input matInput name="hintprice" type="number" [(ngModel)]="newChallenge.hint.price" placeholder="Hint Price" required></mat-form-field>
                        </div>
                        <mat-form-field>
                                <input matInput name="solution" type="text" [(ngModel)]="newChallenge.solution" placeholder="Solution" required>
                        </mat-form-field>
                        <mat-form-field>
                                <input matInput name="keyboard" type="text" [(ngModel)]="newChallenge.keyboard" placeholder="Keyboard Layout" required>
                                <mat-hint>Format: ABCDE FGHIJ</mat-hint>
                        </mat-form-field>
                        <br>
                        <div class="my-row">
                                <button fxFlex mat-button class="command-button" (click)="addChallenge()" [disabled]="!addForm.form.valid">Add</button>
                                <button fxFlex mat-button class="command-button" (click)="preview(false)">Preview</button>
                                <button fxFlex mat-button class="command-button" (click)="preview(true)">Preview Solution</button>
                        </div>


                </form>
        </mat-card-content>
</mat-card>
<mat-card>
        <mat-card-header>
                <mat-card-title><h1>Preview</h1></mat-card-title>
        </mat-card-header>
        <mat-card-content class="my-row">
                <div fxFlex="910px"  style="border: solid white 1px;">
                        <app-challenge-card [isPreview]="true"></app-challenge-card>
                </div>
        </mat-card-content>
</mat-card>
</div>


