@import '../../../../skill-pool';
@import '../../../../../../sass/variables';
.wrapper {
  width: 570px;
  // max-height: 780px;
  background-color: black;
  border: 1px solid white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10px;
}

.issues-container {
  border: 1px solid $gray;
  height: 180px;
  .issue-item {
    height: 80px;
    width: 100%;
    padding: 15px 10px;
    border-bottom: 1px solid $gray;
    text-align: start;
  }
}

app-project-min,
.issue-item {
  opacity: .5;
  &.selected {
    opacity: 1;
  }
}
