@import '../../../skill-pool';
@import '../../../../../sass/variables';
:host {
  width: 600px;
  margin: 20px;
  display: inline-block;
}

.white-header {
  height: 70px;
  text-align: start;
  label {
    pointer-events: none;
    margin-right: 20px;
  }
  .wrapper-img {
    width: 66px;
    min-width: 66px;
    height: 66px;
  }
  .my-col {
    width: 530px;
    padding: 6px;
    justify-content: space-between;
  }
}

.details-container {
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid white;
}

.bottom-row {
  height: 35px;
  align-items: center;
  .assignee-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: -10px;
    border: 1px solid #707070;
    background-color: black;
  }
}
.not-available {
  background-color: rgb(70,70,70);
  opacity: 0.5;
}