@import './variables';
@mixin overflow-auto-scroll {
  overflow: auto;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin g-input {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid $gray;
  height: 24px;
  &:focus {
    outline: none;
    border-color: white;
    box-shadow: none;
  }
  &~.fa {
    color: $primary;
    margin: 0 5px;
  }
}
