@import './variables';
// panel
.mat-expansion-panel {
  background-color: transparent;
}

.mat-expansion-indicator::after {
  color: $primary;
}

//input
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 0;
}

// tabs
.mat-tab-group {
  height: 100%;
  width: 100%;
}

.mat-tab-body-wrapper {
  height: 100%;
}

.mat-tab-header {
  border-bottom: 1px solid white;
}

.mat-tab-label.mat-tab-label-active {
  font-weight: bold;
  color: white;
  opacity: 1;
}

.mat-tab-group.mat-accent .mat-ink-bar {
  background-color: transparent;
}

// button
.mat-button.command-button {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 4px;
  line-height: 28px;
}

//dialog
.cdk-overlay-dark-backdrop {
  background-color: rgba(0, 0, 0, .7);
}

.mat-dialog-container {
  background-color: transparent;
  padding: 0 !important;
}
