@import './variables';
@import './mixins';
.ui-corner-all,
.ui-corner-right {
  border-radius: 0;
}

.ui-state-default {
  background-color: black;
  border: 1px solid $gray;
}

.ui-inputtext {
  @include g-input;
  &.ui-state-focus {
    box-shadow: none;
  }
  input {
    color: white;
  }
}

.ui-dropdown-label {
  padding-top: 0;
}

.ui-datascroller .ui-datascroller-content {
  padding: 0;
  border: 0;
  background: transparent;
}
