@import './variables';
@import './mixins';
@import './custom-material';
@import './custom-primeng';
body {
  overflow: hidden;
}

.overflow-auto-scroll {
  @include overflow-auto-scroll;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

[hidden] {
  display: none !important;
}

img {
  -webkit-user-drag: none;
}

.g-title {
  color: $lightBlue;
  &.title1 {
    font-size: 22px;
  }
  &.title2 {
    font-size: 16px;
  }
  &.title3 {
    font-size: 14px;
  }
  &.whiteBG {
    color: $primary;
  }
  &.blueBG {
    color: white;
  }
}

$chip-height:24px;
$chip-margin:5px;
.g-chip,
.g-chip.mat-button {
  height: $chip-height;
  min-height: $chip-height;
  min-width: auto;
  line-height: 20px;
  font-size: 12px;
  display: inline-block;
  border-radius: 15px;
  padding: 0 15px;
  margin: $chip-margin;
  border: 2px solid;
  white-space: nowrap;
  color: white;
  &.programming {
    background-color: $aqua;
    border-color: $aqua;
    color: black;
  }
  &.knowledge {
    background-color: $pink;
    border-color: $pink;
  }
  &.other {
    background-color: yellow;
    border-color: yellow;
    color: black;
  }
  &.big {
    height: 48px;
    line-height: 47px;
    font-size: 24px;
  }
  &.available {
    background-color: transparent; //color: $lightBlue;
    &.knowledge {
      color: $pink;
    }
    &.programming {
      color: $aqua;
    }  
    &.non-available {
      color: lightgray;
    }
  }
}

.labels-row {
  min-height:calc(#{$chip-height} + #{$chip-margin} * 2);
  height: calc(#{$chip-height} + #{$chip-margin} * 2);
  display: flex;
  overflow: hidden;
}

.g-button {
  font-size: 12px;
  height: 24px;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid;
  border-color: $primary;
  color: $primary;
  background-color: black;
  &:focus {
    outline: none;
  }
  &:not([disabled]):hover {
    background-color: $primary;
    color: white;
  }
  &:active {
    background-color: white;
    color: $primary;
  }
  &:disabled {
    border-color: #414141;
    color: #4a4a4a;
    cursor: default;
  }
  &.command-button {
    min-width: 100px;
    height: 24px;
  }
  &.icon-button {
    height: 32px;
    width: 32px;
  }
}

.g-input {
  @include g-input;
}

.wrapper-img {
  display: flex;
  align-items: center;
  img {
    width: 100%;
    max-height: 100%;
  }
}

.white-header {
  background-color: white;
  border-top-right-radius: 15px;
  padding: 2px;
}

.popup {
  background-color: $opacityPopupBG;
  border: 1px solid $gray;
  padding: 20px;
  position: relative;
  .close-button {
    position: absolute;
    right: 10px;
    top: 20px;
    background-color: transparent;
    color: #95989a;
  }
  &-content {
    margin-top: 30px;
    max-height: 650px;
    @include overflow-auto-scroll;
  }
}

.expanded-popup {
  position: relative;
  width: 900px;
  .white-header {
    .wrapper-img {
      min-width: 80px;
      width: 80px;
      height: 80px;
    }
  }
  .close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    color: #95989a;
  }
  &-details {
    background-color: black;
    border: 1px solid $gray;
    .part {
      padding: 10px;
      border-bottom: 1px solid $gray;
    }
  }
}
