.mat-calendar-body-cell-content {
  border-radius: 0;
  height: 10px !important;
}

.mat-calendar ::ng-deep .mat-calendar-period-button {
  height: 0px;
  width: 0px;
}

.meetup-card-container.card {
  width: 120rem;
  height: 64.5rem;
  left: 10rem;  
}

.meetup-card-container .island-img {
  width: 65%;
  right: -32%;
  bottom: -69%;
  // animation: float 5s infinite
}

.monster-title{
  background-size: cover;
  background-image: url('../../../assets/images/backgrounds/about_BG_03.png');
  border-top: 1px solid white;
  font-size: 2.5rem;
  // font-weight: bold;
  line-height: 4.5rem;
  padding: 0 1rem;
  text-align:center;
}

.meetup-card-container .island-img img {
  width: 100%;
  animation: float 5s infinite;
}

.mat-tab-label .disabled-tab {
  background-color: white !important;
  color: black !important;
  font-size: 2rem !important;
}

.meetup-user-item {
  align-items: center;
  width: 10rem;
}

.meetup-user-item img {
  width: 7rem;
  height: 7rem;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  border-radius: 50%;
}

.meetup-user-item>label {
  width: 100%;
  text-align: center;
  margin-top: .5rem;
  font-size: 1rem;
}

.meetup-card-container ::ng-deep .ui-datascroller {
  background-color: rgba(0, 0, 0, .5);
}

.meetup-card-container ::ng-deep .ui-datascroller-inline .ui-datascroller-content {
  overflow: auto;
 -ms-overflow-style: auto;
  height: 14.5rem;
}

.meetup-card-container ::ng-deep .ui-datascroller-list {
  display: flex;
}

.meetup-card-container ::ng-deep .mat-tab-body-content {
  overflow: hidden;
}

.meetup-card .data-container {
  min-height: 18rem;
  max-height: 18rem;
  padding: 2rem;
  background-color: rgba(17, 98, 155, 1);
  /* border-bottom: 1px solid white; */
}

.about-card
{
  background-color: rgba(0,0,0,0.8);
}

.meetup-card-container .left-side {
  min-width: 25rem;
  max-width: 25rem;
  background-color: #11629b;
}

.credit-card {
  .left-side {
    background-image: url('../../../assets/images/backgrounds/credits_banner_03.png');

  }
  .credits-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 10rem;
  }
  .credit-item {
    padding: 2rem 0;
    align-items: center;
  }
  .credit-item img {
    width: 15rem;
  }
  .credit-item .credit-name {
    font-size: 3rem;
    font-weight: bold
  }
  .credit-item .category-people {
    justify-content: center;
    flex-wrap: wrap;
    font-size: 2rem;
    margin-top: 1rem;
  }
}


.monster-card {
  .left-side {
    background-image: url('../../../assets/images/backgrounds/gilda_adopt_side.png');
    background-size: contain;
    vertical-align: bottom;

  }
  .monster-container {
    background-image: url('../../../assets/images/backgrounds/monster_popup_BG.png');
    background-size: cover;
    padding-left: 11rem;
    // padding-bottom: 3.5rem;
    padding-right: 11rem;
    border-left: 1px solid white;
  }
}

.meetup-subject {
    margin: 0.1em;
}


.meetup-tab{
  img{
    width: 50%;
  }
    .left-side {
      background-image: url('../../../assets/images/backgrounds/cookie_07_site.gif');
      background-size: contain;
      background-position: center;
  
    }
    .past-meetup
    {
       background-color: rgba(0, 0, 0, 0.8);

       .meetup-description {
        min-width:430px; 
        margin:10px;
       }
       .meetup-selfie {
        min-width:500px; 
        max-height: 200px;
         min-height:200px; 
         max-width: 500px;
      }
    }
    
}