app-challenge-card {
  width: 100%;
}
.challenge-container
{
  background-color: rgba(0,0,0,0.8);
}

.gains-points-container {
  min-width: 25rem;
  max-width: 25rem;
  background-size:cover;
  padding: 0 1.5rem;
  border-right: 1px solid white;
  background-image: url('../../../../../assets/images/backgrounds/meetup_bg_02_05.png');
}
.develop-yourself {
  background-image: url('../../../../../assets/images/pets/monsters_develop.svg');
  color: rgba(7, 38, 95, 1);
  background-size: 10rem;
  background-repeat: no-repeat;
  background-position: top  center;
  min-height: 15rem;
  height: 15rem;
}
.develop-yourself h1 {
  position: relative;
  margin-top: 8rem;
  text-align: center;
  font-weight: bold;
}

.gains-point-item {
  margin-bottom: 2rem;
  background-color: transparent;
}

.gains-point-item .hedear {
  font-size: 2rem;
}

.gains-point-item p {
  margin: 2px 0;
}

.gains-point-item button {
  margin-top: 1rem;
}

