.form-container {
  min-height:900px;
}

.challenge-img {
  width: 35%;
}

.challenge-img img {
  width: 100%;
}

.challenge-title {
  height: 95px;
  border-bottom: solid white 1px;
  background-image: url('../../../../../assets/images/challenge-banner.png');
  background-size: auto;
  background-repeat: no-repeat;

}

.challenge-table {
  width: 100%;
}
.title-table {
  width: 100%;
}
.title-text {
  /* color: white; */
  font-size: xx-large;
  font-weight: bold;
  margin-left: 110px;
  /*margin: 10px;

  height: 95px; */
  /* max-width: 390px; */
}

.score-text {
  color: white;
  font-size: large;
  width: 90px;
}

.solved-text {
  color: white; /* rgba(7, 38, 95, 1);*/
  font-size: large;
  margin-left: 110px;
}
.score-number-text {
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.challenge-text {
  color: white;
  margin: 10px;
}
.author-text {
  color: white;
  font-size: x-small;
  font-weight: lighter;
  margin: 10px;
}

.solution-text {
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

.info-text {
  text-align: left;
  margin: 2rem;
}

.footer-text {
  font-size: large;
  text-align: center;
  color: gray;
  margin: 20px;
}

.left-column {
  /* width: 80rem; */
  vertical-align: top;
}

.right-column {
  width: 10rem;
  height: 100%;
  text-align: top;
  vertical-align:middle;
}

.keyboard {
  text-align: top;
  margin: 20px;
}

.message {
  font-size: large;
  text-align: center;
  margin: 10px;
}
.image-area {
  /* text-align: center; */
  margin: 10px;
  /* max-height: 300px;
  max-width: 220px; */
}

.image {
  max-height: 220px;
  max-width: 400px; 

}

.hint-area {
  margin: 10px;
}

.hint-teaser {
  /* margin-bottom: 10px; */
}

.hint-button {
  /* margin: 0.2rem; */
  /* min-width: 3rem; */
  width: 4rem;
  /* min-height: 3rem; */
  height: 4rem;
  /* align-items: center; */
  text-align: center;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
}

.nav-buttons {

  position: absolute;
  bottom: 1rem;
  right: 2rem;
  padding: 0;
}

.nav-button {
    margin: 0.4rem;
    min-width: 3rem;
    padding: 0;
    border: 1px solid white;
    border-radius: 4px;
    line-height: 28px;
  }

  .reveal-button {
    margin: 2rem;
    margin-right: 0.5rem;
    width: 18rem;
  }
