<div class="nav-buttons">
  <mat-form-field>
    <mat-label>Select challenge</mat-label>
    <mat-select [(ngModel)]="weeklyOffset" (selectionChange)="chooseChallenge($event)" placeholder="Current Challenge">
      <mat-option *ngFor="let challenge of pastChallenges; let i = index;" [value]="i">
        Challenge {{ ((pastChallenges.length - i) < 10) ? (pastChallenges.length - i) : (pastChallenges.length - i + 1) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
    <button class="command-button nav-button" mat-flat-button
            title="Previous Challenge"
            (click)="prevChallenge()"
            [disabled]="isLastChallenge()">
      <img src="../../../../../assets/images/chevron-left.png" />
    </button>
    <button class="command-button nav-button" mat-flat-button
            title="Next Challenge"
            (click)="nextChallenge()"
            [disabled]="isCurrentChallenge()">
      <img src="../../../../../assets/images/chevron-right.png" />
    </button>
</div>

<div>
<table name="challenge-table" class="challenge-table">
  <tr>
    <td name="challenge-title" class="challenge-title" colspan="99">
      <table class="title-table">
        <tr>
          <td>
            <div *ngIf="challengeExists === true" class="title-text">
              {{currentChallenge.title}}
            </div>
            <div *ngIf="challengeExists === false" class="title-text">
                Gilda is currently on vacation. Promise to bring new challenges from the Duty-Free.
            </div>
            <div *ngIf="challengeExists === true && solvedCount == 0" class="solved-text">
              Be the first to crack it!
           </div>
           <div *ngIf="challengeExists === true && solvedCount == 1" class="solved-text">
              1 member has already cracked it!
            </div>
            <div *ngIf="challengeExists === true && solvedCount > 1" class="solved-text">
              {{solvedCount}} members have already cracked it!
            </div>
          </td>
          <td class="score-text">
            <div *ngIf="challengeExists === true" class="score-text">
              <span *ngIf="!solutionCorrect">Win</span> <div class="score-number-text">{{actualScore}}</div> points
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
   <tr [hidden]="!challengeExists || !solutionCorrect">
    <td class="left-column">
      <div *ngIf="isCurrentChallenge()" class="solution-text">
        YOU GOT IT!!!
      </div>
      <div class="solution-text">
        SOLUTION : {{currentChallenge.displaySolution}}
      </div>

      <div #infoText class="info-text"></div>
      <div #footerText class="footer-text" [hidden]="!isCurrentChallenge()"></div>
    </td>
    <td *ngIf="!isCurrentChallenge()" class="right-column" style="vertical-align: top;">
        <button mat-button class="command-button reveal-button"
                title="Back to Challenge"
                (click)="backToChallenge()">
          BACK TO CHALLENGE
        </button>
    </td>
    <td *ngIf="isCurrentChallenge()" class="right-column" style="padding-right: 30px;">
      <img src="../../../../../assets/images/solved_riddle.png" width="200px"/>
    </td>
  </tr>
  <tr [hidden]="!challengeExists || solutionCorrect">
    <td class="left-column">
      <div #challengeText  class="challenge-text" [hidden]="!currentChallenge.challenge"></div>
      <div class="image-area"><img class="image" src="{{currentChallenge.image}}"></div>
      <div class="author-text" *ngIf="currentChallenge.author">Written by {{currentChallenge.author}}</div>
      <div class="hint-area">
        <div *ngIf="!solutionCorrect && hintExists && !hintVisible">
          <!-- <div class="hint-teaser">Need a hint? it will cost you only your pride and {{currentChallenge.hint.price}} points...</div>         -->
          <button mat-button
                class="command-button"
                (click)="revealHint()">
                BUY A HINT ({{currentChallenge.hint.price}} POINTS)
          </button>
        </div>
        <div *ngIf="hintExists && hintVisible">
          <div class="hint-teaser">Hint: {{currentChallenge.hint.text}}</div>
        </div>

      </div>
    </td>

    <td *ngIf="isCurrentChallenge()" class="right-column">

      <div class="keyboard">
        <app-virtual-keyboard [layout]="currentChallenge?.keyboard"
        [inputFieldLayout]="solutionLayout"
        (submit)="submitResult($event)"></app-virtual-keyboard>
      </div>

      <div class="message" *ngIf="messageVisible">
          <label *ngIf="solutionCorrect != true">Wrong. Try again...</label>
      </div>
    </td>
    <td *ngIf="!isCurrentChallenge()" class="right-column" style="vertical-align: top;">
      <button mat-button class="command-button reveal-button"
            title="Reveal Solution"
            (click)="revealSolution()">
        REVEAL SOLUTION
      </button>
    </td>

  </tr>
</table>

</div>


