@import '../../../../skill-pool';
@import '../../../../../../sass/variables';
.popup {  
  width: 702px;  
  .person-item {
    height: 60px;
    padding: 1px;
    background-color: white;
    margin: 10px;
    width: 310px;
  }
  .wrapper-img {
    height: 58px;
    width: 58px;
  }
}
