<div *ngIf="projectData" class="expanded-popup">
  <div class="white-header">
    <button class="close-button" (click)="closeWindow()">X</button>
    <div class="my-row">
      <div class="wrapper-img">
        <img [src]="projectData.avatar_url!= null ? projectData.avatar_url : 'assets/images/projectsAvatar/MaskGroup'+projectData.project_id%6+'.svg'"
          [attr.title]="projectData.avatar_url == null ? 'add img to project':''" />
      </div>
      <div class="my-col full-width" style="padding: 5px 10px; justify-content: space-between;">
        <div class="my-row" style="justify-content: space-between;">
          <label class="g-title title1 whiteBG">{{projectData.name}}</label>
          <label class="g-title title3 whiteBG">Last Update: {{projectData.last_activity_at | date: 'dd.MM.y'}}</label>         
        </div>

        <p class="g-title title3 whiteBG block-with-text">{{projectData.description}}</p>
        <div class="my-row" style="justify-content: space-between; align-items: center;">
          <div>           
            <div class="add-star">
              <span>{{projectData.star_count}}</span>
              <button 
              (click)="addStar()" 
              [hidden]="projectData.starred_by_user"
              [disabled]="projectData.starred_by_user === undefined">
                <i class="far fa-star"></i>STAR
              </button>
              <button 
              (click)="unStar()" 
              [hidden]="projectData.starred_by_user === undefined || !projectData.starred_by_user"
              [disabled]="projectData.starred_by_user === undefined">
                <i class="fas fa-star"></i>UNSTAR
              </button>
               
            </div>

            <label class="g-title title2 whiteBG" style="margin-right: 10px; margin-left: 10px;">{{projectData.contributors?.length + projectData.owners?.length}} Developers</label>
            <label class="g-title title2 whiteBG" style="margin-right: 10px; margin-left: 10px;">{{projectData.statistics?.commit_count}} Commits</label>
            <label class="g-title title2 whiteBG" style="margin-right: 10px; margin-left: 10px;">{{calcClones()}} Clones</label>

          </div>
          <div>
            <!-- <a (click)="copyUrl()" title="clone url">
              <i class="fa fa-clone g-title whiteBG"></i>
            </a>
            <a target='_blank' title="download zip" href="">
              <i class="fa fa-download g-title whiteBG"></i>
            </a> -->
            <a target='_blank' title="project on Gitlab" href="{{projectData.http_url_to_repo}}">
              <i class="fab fa-gitlab g-title whiteBG"></i>
            </a>
            <a *ngIf="projectData.mattermost" target='_blank' href="{{projectData.mattermost}}" title="Mattermost">
              <img style="height:18px" alt="mattermost" src="assets/icons/mattermost.svg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="expanded-popup-details">
    <div class="my-row part" style="flex-wrap: wrap;">
      <span *ngFor="let label of projectData.tag_list" class="g-chip knowledge">
        {{label}}</span>
    </div>
    <div class="my-row part" style="align-items: flex-end;">
      <!-- progress in line -->
      <!-- <div class="progress my-row">
        <div class="progress-bar" *ngFor="let key of objectKeys(projectData.languages)" [style.width]="projectData.languages[key] + '%'"
          [style.background-color]="getRandomColor()" title="{{key}}">
        </div>
      </div> -->
      <div class="my-row" style="flex-wrap: wrap;">
        <span *ngFor="let label of objectKeys(projectData.languages)" class="g-chip programming">
          {{label}}</span>
      </div>
      <button class="g-title title3" mat-button (click)="openLanguageDialog()" [disabled]="objectKeys(projectData.languages).length==0">See Chart</button>
    </div>
    <div class="my-row" style="height: 210px;">
      <div class="part persons-images">
        <div class="my-row" style="align-items: center; justify-content: space-between;">
          <label class="g-title title2">{{ownersList.length}} Owners</label>
          <button class="g-title title3" mat-button (click)="openPeoplePopupDialog1($event)"
          [disabled]="ownersList.length <= 5 && contributorsList.length <= 5">
            SEE ALL
          </button>
        </div>
        <div class="images-row">
          <app-person-image-for-expanding class="person-button" *ngFor="let item of ownersList | slice:0:5; let i=index" [personName]="item.name"
            [personId]="item.gitlab_user_id" [personAvatarUrl]="item.avatar_url"></app-person-image-for-expanding>
          <span class="continue g-title" *ngIf="ownersList.length > 5">...</span>
        </div>
        <div>
          <div class="g-title title2" style="margin-top:10px;">{{contributorsList.length}} Contributors </div>
        </div>
        <div class="images-row">
          <app-person-image-for-expanding class="person-button" *ngFor="let item of contributorsList | slice:0:5; let i=index" [personName]="item.name"
            [personId]="item.gitlab_user_id" [personAvatarUrl]="item.avatar_url"></app-person-image-for-expanding>
          <span class="continue g-title" *ngIf="contributorsList.length > 5">...</span>
        </div>
      </div>
      <div class="part persons-images">
        <div class="my-row" style="align-items: center; justify-content: space-between;">
          <label class="g-title title2"> {{communityList.length}} Community members</label>
          <button class="g-title title3" mat-button (click)="openPeoplePopupDialog2($event)"
          [disabled]="communityList.length <= 5 && potentialDevelopersList.length <= 5">
          SEE ALL
        </button>
        </div>
        <div class="images-row">
          <app-person-image-for-expanding class="person-button" *ngFor="let item of communityList | slice:0:5; let i=index" [personName]="item.name"
            [personId]="item.gitlab_user_id" [personAvatarUrl]="item.avatar_url"></app-person-image-for-expanding>
          <span class="continue g-title" *ngIf="communityList.length > 5">...</span>
        </div>
        <div>
          <div class="g-title title2" style="margin-top:10px;">{{potentialDevelopersList.length}} Potential developers</div>
        </div>
        <div class="images-row">
          <app-person-image-for-expanding class="person-button" *ngFor="let item of potentialDevelopersList | slice:0:5; let i=index"
            [personName]="item.name" [personId]="item.gitlab_user_id" [personAvatarUrl]="item.avatar_url"></app-person-image-for-expanding>
          <span class="continue g-title" *ngIf="potentialDevelopersList.length > 5">...</span>
        </div>
      </div>
    </div>
    <div class="part">
      <ng-container *ngIf="projectData.gigs.length>0 else noGigs">
        <label class="g-title title2"> Gigs: </label>
        <p-carousel [value]="projectData.gigs">
          <ng-template let-gig pTemplate="item">
            <button  class="gig-item" (click)="openExpandedGigDetails(gig)">
              <div class="g-title title2 overflow-ellipsis" style="margin:10px 0">{{gig.title}}</div>
              <div class="my-row labels-row">
                <span *ngFor="let item of gig.langs" class="g-chip programming">
                  {{item}}</span>
              </div>
              <div class="my-row labels-row">
                <span *ngFor="let item of gig.tags" class="g-chip knowledge">
                  {{item}}</span>
              </div>
              <div class="my-row labels-row">
                <span *ngFor="let item of gig.labels" class="g-chip other">
                  {{item}}</span>
              </div>
            </button>
          </ng-template>
        </p-carousel>
      </ng-container>
      <ng-template #noGigs>
        <div class="g-title title2" style="text-align: center;"> No gigs available</div>
      </ng-template>
    </div>
    
    <div class="part">
      <label class="g-title title2"> Read Me: </label>
      <div class="description-readme overflow-auto-scroll">
        <markdown [data]="projectData.readmeContent"></markdown>
      </div>
    </div>
  </div>
</div>
