.content {
  background-color: black;
  opacity: 0.8;
  
}
.bckgound {
  // border: solid white 1px;
  background-image: url('../../../assets/images/backgrounds/monster_popup_BG.png');
  background-size:cover;
}

.txt {
  padding:1rem;
}
