<div class="bckgound">
    <div class="content">
        <div class="txt">
            <div *ngFor="let line of lines" >
                <div *ngIf="isLine(line); else details" style="padding-left: 1rem">{{line}}</div>
                <ng-template #details>            
                    <table style="padding-left: 3rem">
                        <tr *ngFor="let subline of line">
                            <td>
                                {{subline}}
                            </td>
                        </tr>
                    </table>
                        
                </ng-template>               
            </div>    
        </div>
    </div>
</div>
<br>


