<div class="with-background" style="text-align : center;">

    <mat-tab-group dynamicHeight=false class='tab-group'>

        <mat-tab label='WHAT IS A GUILD?'>
            <mat-card class="card" class="transparent">
                <img mat-card-image style="max-width: 50%; max-height: 50%;" src="../../assets/images/GildaLogo_White_02.png" alt="GILDA">

                <span style="text-align: left">
              <p>
                A guild is an association of artisans or merchants who oversee the practice of their craft.
                The earliest types of guild were formed as confraternities of tradesmen.
                They were organized in a manner something between a professional association, trade union, a cartel, and a secret society.
                They often depended on grants of letters patent by a monarch or other authority
                to enforce the flow of trade to their self-employed members, and to retain ownership of tools and the supply of materials.
                A lasting legacy of traditional guilds are the guildhalls constructed and used as meeting places.
            </p>
          </span>
            </mat-card>
        </mat-tab>
        <mat-tab label='WHAT IS THE GILDA?'>
            <mat-card class="card" class="transparent">
                <img mat-card-image style="max-width: 50%; max-height: 50%;" src="../../assets/images/GildaLogo_White_02.png" alt="GILDA">

                <span style="text-align: left">
                <p>
                    The GILDA is a modern take on medieval guilds and acts as a professional association of software developers.
                    In order to progress in their professional rank, guild members must earn professional points by cracking a SW related challenges,
                     contributing code to the Inner Source repository and recommending applicants.
              </p>
            </span>

            </mat-card>
        </mat-tab>

        <mat-tab label='MEETUP MONDAY'>

            <app-meetups-card></app-meetups-card>

        </mat-tab>

    </mat-tab-group>


</div>
