@import '../../../skill-pool';
@import '../../../../../sass/variables';
$header-height:85px;
:host {
  width: 590px;
  margin: 20px;
  display: inline-block;
}

.white-header {
  height: $header-height;
  text-align: start;
  label {
    pointer-events: none;
  }
}

.wrapper-img {
  width: calc(#{$header-height} - 2px);
  height: calc(#{$header-height} - 2px);
}

.wrapper-header-details {
  width: calc(100% - #{$header-height});
  height: calc(#{$header-height} - 2px);
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-container {
  background-color: black;
  border: 1px solid white;
  .part {
    width: 50%;
    padding: 10px;
    &:first-of-type {
      border-right: 1px solid $gray;
    }
  }
}

.deactivated {
  opacity :0.5;
}
