<div *ngIf="personData" [ngClass]="{deactivated : personData.active == false}">
  <button class="my-row white-header" (click)="openDialog()">
    <div class="wrapper-img">
      <img src="{{personData.avatar_url}}" />
    </div>
    <div class="wrapper-header-details">
      <label class="g-title title2 whiteBG overflow-ellipsis"> {{personData.rank}} {{personData.name}}</label>
      <div class="g-title title3 whiteBG overflow-ellipsis"> {{personData.bio}}</div>
      <div class="g-title title3 whiteBG">
        <label style="margin-right: 50px;">{{personData.badges.projects.length+personData.contributed_projects.length}} projects</label>
        
        <!-- <label style="margin-right: 50px;">_Gigs</label> -->
        <!-- <label style="margin-right: 50px;">_Gilda Profil</label> -->
      </div>
     
    </div>
   
  </button>
  <div class="my-col">
     
      <div class="details-container">
        
        <div class="my-row">
            <div class="part">
              <label class="g-title title2">Skills</label>
              <div class="my-row labels-row">
                <span *ngFor="let item of personData.skills_langs" class="g-chip programming">
                  {{item}}</span>
              </div>
              <div class="my-row labels-row">
                <span *ngFor="let item of personData.skills_tags" class="g-chip knowledge">
                  {{item}}</span>
              </div>
          
            </div>
            <div class="part">
              <label class="g-title title2">Fields of interest</label>
              <div class="my-row labels-row">
                <span *ngFor="let item of personData.wants_to_learn_langs" class="g-chip programming">
                  {{item}}</span>
              </div>
              <div class="my-row labels-row">
                <span *ngFor="let item of personData.wants_to_learn_tags" class="g-chip knowledge">
                  {{item}}</span>
              </div>
              
            </div>
        </div>
       
      </div>
      
  </div>
 
  
</div>
