<div class="page-card-container card island-container">
  <div class="island-img">
    <img src='../../assets/images/islands/{{rankName}}-island.svg' style="width:100%">
  </div>
  <mat-tab-group dynamicHeight=false color='accent' selectedIndex={{startTab}}>
    <mat-tab label=' {{rankName}} ' disabled></mat-tab>
    <mat-tab label='SCORE BOARD'>
      <mat-icon style="left:20rem; top:0.5rem; position: relative;">search</mat-icon>
      <mat-form-field style="left:23rem; top:0.5rem; width:86rem">

        <input #filetrField matInput type="text" size="25" [(ngModel)]="filter" readonly=false style="width:86rem" placeholder="Search member...">
        <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="filter=''">
          <mat-icon>close</mat-icon>
        </button>

      </mat-form-field>
      <app-score-board [filter]='filetrField.value'></app-score-board>
    </mat-tab>
    <mat-tab label='ABOUT'>
      <div class="with-background-image text-container">
        <h3>WELCOME TO THE</h3>
        <h1 class="island-title">{{ranks[currRankIndex]?.name}} ISLAND</h1>
        <h4>{{ranks[currRankIndex]?.details}}</h4>
        <div style="bottom:50%; position:absolute;">
          <p>Say hello to the island's monsters</p>
        </div>
      </div>
      <div class="my-row with-background-image monsters-container">
        <div class="my-col monster-item" *ngFor="let monster of rankMonsters">
          <img src="../../../assets/images/pets/{{monster.rank}}_{{monster.monster_index}}.svg" (click)="displayMonsterCard(monster)"
          />
          <label (click)="displayMonsterCard(monster)">{{monster.name}}</label>
          <!-- <label>Monster {{monster.rank}}</label> -->
          <label (click)="displayMonsterCard(monster)">{{monster.parent == 0 ?'Available': 'By '+ monster.parentName}}</label>
        </div>
      </div>
    </mat-tab>
    <mat-tab *ngIf="currUserDetails && currUserDetails.rank == rankName" label='PROFILE'>
      <app-user-profil></app-user-profil>
    </mat-tab>
  </mat-tab-group>
</div>
