<mat-toolbar class="my-row main-toolbar">
  <div class="my-row" style="align-items: center;">
    <button mat-button [routerLink]="'/homepage'" title="Home">
      <img src="assets/images/GildaLogo_White_witoutSlogen.png" alt="GILDA" style="height:5em">
    </button>


    <button mat-button (click)='getLoggedUser()' *ngIf="!isLogedIn">Welcome GUEST </button>
    <a mat-button *ngIf="!isLogedIn"  (click)='signIn()'>SIGN IN</a>

    <p *ngIf="isLogedIn">Greetings, {{currUserDetails.rank}}&nbsp;</p>
    <button mat-icon-button *ngIf="isLogedIn" color="Primary" (click)="goToProfile()" title="Profile">
      <img src='{{currUserDetails?.avatar_url}}' alt="curr-user-avatar" style='border-radius:50%;height:3em; width:3em; margin-bottom:2px;'>
    </button>
    <p *ngIf="isLogedIn">&nbsp;{{currUserDetails.name}} </p>
  </div>
  <div class="my-row" style="justify-content:flex-end; align-items: center; margin-right: 10px;">
    <!-- <a href="mailto:gilda@email.com">Feedback</a> -->
    <!-- <img style="height:3em;margin-right:5em;" alt="beta" src="./../../assets/images/beta.png"> -->


    <div style='width:100%; text-align: center'>
    <button class="g-button" [routerLink]="'/skillpool'">
      Skill POOL BETA
    </button>
    <button style="color:transparent; background-color: transparent" [routerLink]="'/addchallenge'">
      SECRET
    </button>
  </div>
    <a class="mat-icon-button" style="margin-right:1em;" (click)="displayHelp()" title="Help" mat-icon-button="">
      <span class="mat-button-wrapper">
        <img style="height:3em" alt="gitlab" src="assets/images/ic_help_outline_white_24px.svg">
      </span>
      <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple="">
      </div>
      <div class="mat-button-focus-overlay"></div>
      <div class="start-here-arrow" *ngIf="showStartHereArrow">
        <img src="assets/images/start-here.png" width="150rem">
      </div>
    </a>

    <a class="mat-icon-button" target='_blank' style="margin-right:1em;" href="http://mattermost" title="Mattermost" mat-icon-button="">
      <span class="mat-button-wrapper">
        <img style="height:3em" alt="mattermost" src="assets/images/mattermost.png">
      </span>
      <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple="">
      </div>
    </a>

    <a class="mat-icon-button" target='_blank' style="margin-right:1em;" href="http://gitlab/SoftwareWizards/StackInnerFlow/issues"
      title="StackInnerFlow on Gitlab" mat-icon-button="">
      <span class="mat-button-wrapper">
        <img style="height:3em" alt="gitlab" src="assets/images/stackoveflowlogo.svg">
      </span>
      <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple="">
      </div>
    </a>
    <a class="mat-icon-button" style="margin-right:1em;" target='_blank' title="Send Feedback" href="mailto:gilda@your-org.com?subject=Gilda feedback"
      mat-icon-button="">
      <span class="mat-button-wrapper">
        <img style="height:3em" alt="gitlab" src="assets/images/ic_mail_outline_white_24px.svg">
      </span>
      <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple="">
      </div>
      <div class="mat-button-focus-overlay"></div>
    </a>
    <a class="mat-icon-button" target='_blank' title="Gilda on Gitlab" href="[path]/SwGuildClient" mat-icon-button="">
      <span class="mat-button-wrapper">
        <img style="height:3em;" alt="gitlab" src="assets/images/gitlab.svg">
      </span>
      <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple="">
      </div>
      <div class="mat-button-focus-overlay"></div>
    </a>    
  </div>
</mat-toolbar>
