<div style="display: flex; flex-wrap:wrap; justify-content: center;">
  <div class="my-col">
    <form>
      <div class="my-row">
        <mat-form-field *ngFor="let wordLength of inputFieldLayout; let i = index">
          <input matInput
                type="text"
                matTextareaAutosize
                readonly=true matInput
                value="{{inputFieldValues[i]}}"
                size="{{wordLength}}"
                width="{{wordLength}}rem">
          <mat-hint align="end"><strong>{{inputFieldValues[i].length}}/{{wordLength}}</strong></mat-hint>
        </mat-form-field>
      </div>
    </form>
    <div class="keyboard-container">
      <div class="my-row" *ngFor="let row of layout">
        <button *ngFor="let key of row"
                mat-raised-button
                class="keyboard-key transparent"
                (click)="onClick(key)"
                opacity=1>{{key}}
        </button>
      </div>
      <div class="my-row">
        <button mat-raised-button
                style="width:13rem;"
                class="keyboard-key submit"
                (click)="submitResult()">
          SUBMIT
        </button>
        <button mat-raised-button
                style="width: 8.4rem;"
                class="keyboard-key"
                (click)="delete()">
          <mat-icon>backspace</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
